# Neon Postgres Connection String
DATABASE_URL=postgresql://neondb_owner:npg_t6TG0bQXrmLN@ep-mute-flower-aohbtgrf-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Upstash Redis URLs
UPSTASH_REDIS_REST_URL=https://glad-martin-107906.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAaWCAAIgcDEwNGRiYmYxMjcxZmY0Y2E5ODJkYjNjMzllYzU0NjNhMQ

# Groq API for AI Extraction
GROQ_API_KEY=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

# JWT Secret for Auth
JWT_SECRET=super_secret_jwt_string
